@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Space+Grotesk&display=swap');
* {
  font-family: 'Space Grotesk', sans-serif;
}

#logo {
  float: left;
  height: 18%;
  width: 18%;
  margin-left: 10%;
}

#title {
  text-align: center;
  font-family: 'Roboto Mono',sans-serif;
  font-size: 3rem;
  margin-top: 6.5%;
  margin-right: -10% ;
}

#buttons {
  float: left;
}

header {
  background-image: url("images/AstroPic.jpg");
  color: white;
  margin: 0;
  border-bottom: 1px solid #818181;
  position: relative;
  top: 0%;
  overflow: hidden;
}

#content {
  clear: left;
  margin-left: 50px;
}

#buttons {
  width: 500px;
  display: inline-block;
  float :left;
}

#buttons p {
  font-size: 20px;
  width: 400px;
}

#buttons button{
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    margin-bottom: 15px;
    cursor: pointer;
}

#buttons #ButtonClicked {
  background-color: #fff;
  border: 2px solid red;
  border-radius: 10px;
  color: black;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  margin-bottom: 15px;
  cursor: pointer;
}

#firstMissionPlots, #secondMissionPlots{
  align-items: center;
  justify-content: space-between;
}

#StatusBar {
  font-size: 20px;
  line-height: 5px;
  padding: 10px 12px;
  border-top:4px solid  #FF9933;
  border-left:4px  solid #000080;
  border-right: 4px solid #000080;
  border-bottom: 4px solid #138808;
  border-radius:5px;
  width: 280px;
  margin-left: 32rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  background-color: #FFFFFF;
}



.plot {
  display: flex;
  justify-content: center;
  float: left;
  
}

#cartesianCoordinates {
  margin-top: -20px;
}